source_up

export ANSIBLE_CONFIG="${PWD}/ansible.cfg"
# SOPS_AGE_KEY_FILE inherited from root; community.sops plugin uses it
# to decrypt group_vars/*/secrets.sops.yml at play time

export ELASTIC_PASSWORD="${elastic_password}"
export KIBANA_SYSTEM_PASSWORD="${kibana_system_password}"
